#about {
  background-color: #FF6663;
  color: white;
  min-height: 100vh;
}

#about-title {
  background-color: #FF6663;
  z-index: 20;
  position: relative;
  display: inline-block;
  padding: 0px 20px;
  margin-left: 30px;
}

#about-me-text {
  margin-top: -2em;
  text-align: left;
  font-family: 'Lato';
  letter-spacing: .05em;
  font-weight: 300;
  border: solid white 2px;
  padding: 3em;
  text-align: left;
}

#about {
  position: relative;
}

#about p {
  font-size: 18px;
}

#text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

@media (max-width: 545px) {
  #text-container {
    top: 0;
    left: 0;
    transform: none;
    position: relative;
  }
  #about-me-text {
    font-size: 1em;
    padding: 2em 1em 1em 1em;
  }
  #about {
    padding-top: 8em;
    padding-bottom: 2em;
  }
}
