body {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 1em;
  font-family: 'Lato';
}

h1 {
  font-size: 5em;
  font-family: 'Lato';
  font-weight: bold;
}

h2 {
  font-size: 4em;
  font-family: 'Lato';
  font-weight: bold;
}


h3 {
  font-size: 3em;
  font-family: 'Lato';
}

h4 {
  font-size: 2em;
  font-family: 'Lato';
}

h5 {
  font-size: 1.2em;
  font-family: 'Lato';
}

@media (max-width: 545px) {
  h2 {
    font-size: 3em;
  }
}
