#contact {
  background-color: #55CCC2;
  color: white;
  height: 100vh;
  position: relative;
}

#contact h2 {
  text-align: left;
}

#contact-title {
  background-color: #55CCC2;
  z-index: 20;
  position: relative;
  display: inline-block;
  padding: 0px 20px;
  margin-left: 30px;
}

#contact-info p {
  margin-top: -2em;
  text-align: left;
  font-size: 18px;
  font-family: 'Lato';
  letter-spacing: .05em;
  font-weight: 300;
  padding: 3em 1em 1em 1em;
}

.social-icons {
  font-size: 80px;
  padding: .2em;
  color: white;
  display: flex;
  justify-content: space-around;
}

.social-icons:hover {
  color: #C8EFEB;
}

#contact-wrapper {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contact-info {
    margin-top: -2em;
    border: solid 2px white;
    padding: 2em 1em;
}

i {
  text-align: center;
}

#name p {
  padding-top: 1em;
}

#icons {
  display: flex;
  justify-content: space-around;
}

#name-and-links {
  display: flex;
}

@media (max-width: 545px) {
  #name-and-links {
    flex-direction: column;
  }
  #icons {
    padding: .1em;
  }
  #contact-wrapper {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}
