.splash {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  background-color: white;
  text-align: center;
}

.splash-content {
  text-align: center;
  color: black;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.splash-content h1 {
  line-height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
}

#heart {
  color: #FF6663;
}


#main-menu {
  height: 100vh;
}

#main-header {
  height: 100vh;
  padding: 0;
}

#triangle-image {
  width: 100%;
  margin-top: 99px;
  z-index: 0;
}

#header-information {
  color: black;
  line-height: .5em;
  margin-left: 0;
  font-family: 'Lato';
  height: 100%;
  margin-top: 100px;
}

.info-item:hover {
  text-decoration: line-through;
}

@media (max-width: 545px) {
  #triangle-image {
    margin-top: 79px;
    margin-bottom: 4em;
  }
}
