#work {
  background-color: #f0f8ff;
  color: black;
  padding-top: 7em;
  padding-bottom: 6em;
  margin-left: auto;
  margin-right: auto;
}

#work h2 {
  padding-bottom: 40px;
  text-align: left;
}

#work h5 {
  font-weight: bold;
  padding-bottom: 10px;
}

#work-content {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.project-img {
  height: 90%;
}

.project {
  padding-bottom: 4em;
}

.project-hover {
  border: solid 2px black;
}

.project-info {
  border-bottom: solid black 1px;
}

.live-btn  {
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin-right: 20px;
}

.github-btn {
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin-right: 20px;
    width: 100px;
}

.live-btn:hover {
  color: white;
  text-decoration: none;
  background-color: #FF6663;
  width: 50%;
}

.github-btn:hover {
  color: white;
  text-decoration: none;
  background-color: #FF6663;
}

.view-more {
  text-align: right;
  color: black;
}
